* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
  }

body {
    background-color: black;
    font-family: verdana, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 50px;
    padding: 20px;
}

a {
    color: aquamarine;
    width: 300px;
    font-size: 16px;
    display: block;
    margin: auto;
}

h2 {
    font-size: 42px;
    font-weight: 300;
    padding: 20px;
}

main p {
    padding: 10px;
    font-size: 21px;
}

.gray-text {
    color: gray;
}

footer p {
    padding: 10px;
    text-align: right;
}